@import 'src/styles/images';

$cursor-size: .5rem;

:root {
  --cursor-fill-color: var(--red);
  --cursor-nonpresenters-fill-color: var(--green);
}

.presentation-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.presentation {
  display: flex;
  height: 100%;
  width: 100%;

  .cursor {
    fill: var(--cursor-fill-color);
    r: $cursor-size;
  }

  .cursor-nonpresenters {
    fill: var(--cursor-nonpresenters-fill-color);
    r: $cursor-size;
    fill-opacity: 0.6;
  }
  
  .cursor-label {
    font-weight: 600;
    //font-size: 12;
    fill: var(--cursor-nonpresenters-fill-color);
    fill-opacity: 0.8;
  }
}

svg {
  height: 100%;
  width: 100%;
}
