html .tl-container {
  --tl-font-draw: "AMT", "MRY", sans-serif;
}
/* MA fonts */
@font-face {
  font-family: 'MRY';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MRY-subset.woff2') format('woff2');
  unicode-range:
    U+4E00-9FFF,   /* Common Chinese character */
    U+3000-303F,   /* CJK symbols*/
    U+3040-309F,   /* Hiragana */
    U+30A0-30FF,   /* Katakana */
    U+31F0-31FF,   /* Katakana extended */
    U+FF00-FFEF;   /* 2 byte symbols */
}
/* MA fonts */
@font-face {
  font-family: 'AMT';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/AMT.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
